* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calculator > * {
  border: 1px solid black;
  padding: 10px;
}

.row {
  grid-column: 1 / -1;
}
